<div class="filters-list-item">
    Where:
    <span class="filters-list-item-value">{{filterWhere city state zip}}</span>
</div>
<div class="filters-list-item">
    Methods:
    <span class="filters-list-item-value">{{filterMetrics metric}}</span>
</div>
<div class="filters-list-item">
    When: 
    <span class="filters-list-item-value">{{filterWhen start end}}</span>
</div>
<div class="filters-list-item">
    Groups:
    <span class="filters-list-item-value">{{filterGroups group}}</span>
</div>
<div class="filters-list-item">
    Garden types:
    <span class="filters-list-item-value">{{filterTypes garden_type}}</span>
</div>
